@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "American Typewriter", Times, serif;
}

.button {
  font-size: 16px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid rgb(34, 197, 94);
  background: linear-gradient(
    to right,
    rgba(34, 197, 94, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(34, 197, 94, 0.1) 100%
  );
  color: rgb(34, 197, 94);
  box-shadow: inset 0 0 10px rgba(34, 197, 94, 0.4),
    0 0 9px 3px rgba(34, 197, 94, 0.1);
}

.button:hover {
  color: rgb(34, 197, 94, 0.8);
  box-shadow: inset 0 0 10px rgba(34, 197, 94, 0.6),
    0 0 9px 3px rgba(34, 197, 94, 0.2);
  animation: a 0.5s 1 linear;
}

.button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(34, 197, 94, 0.1) 40%,
    rgba(34, 197, 94, 0.1) 60%,
    transparent 100%
  );
}

.button:hover:before {
  transform: translateX(17em);
}

@keyframes a {
  0% {
    transform: scale(1, 1.2);
  }
  25% {
    transform: scale(1.2, 1);
  }
  50% {
    transform: scale(1, 1.2);
  }
  75% {
    transform: scale(1.2, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 0.4em 1.5em;
  }
}

.active {
  color: white;
}

.active:valid {
  color: red;
}
